.Discount {
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
  margin-top: 25px;
}

/* Address_shop */

.Address_shop {
  align-items: center;
  background-image: url(../../assets/img/screenshot-yandex\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 18.75rem;
  justify-content: center;
  width: 26.25rem;
}

.Address_shop_h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.Address_shop_p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.Address_shop_button {
  width: 261.77px;
  height: 39px;
  background: #407CD3;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 60px 0 47px;
}

/* quality */

.quality {
  align-items: center;
  display: flex;
  height: 18.75rem;
  justify-content: space-between;
  padding: 45px 30px;
  background: #407CD3;
  border-radius: 4px;
}

.quality_left {
  margin-top: 10px;
}

.quality_left_h1 {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.quality_left_df_h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffd54f;
}

.quality_left_df_h2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffd54f;
}

.quality_left_df {
  display: flex;
  margin-top: 10px;
  margin-bottom: 35px;
  gap: 5px;
  width: 199px;
  align-items: center;
}

.quality_left_button {
  background: #fff;
  border-radius: 4px;
  color: #407CD3;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 24px;
}

/* Selection_mattresses */

.Selection_mattresses {
  background-color: #e8e5e9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  height: 18.75rem;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 26.25rem;
  z-index: 1;
}
