.Contact_info {
  height: 467px;
  background: #f4f4f4;
  width: 1400px;
  margin: 50px auto;
  padding: 50px 30px;
}

.Contact_info_df {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Contact_info_df_a {
  font-size: 14px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #00b9c0;
  text-align: center;
}
.Contact_info_df1{
  display: flex;
  flex-direction: column;
  align-items: center;
}