.Contact_info {
  /* height: 467px; */
  background: #f4f4f4;
  /* width: 1400px; */
  margin: 50px auto;
  padding: 50px 30px;
}
.Contact_info .swiper-slide {
  background: #f4f4f4 !important;
}
.Contact_info_df {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Contact_info_df_a {
  font-size: 14px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #407CD3;
  text-align: center;
}

.Contact_info_df1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Contact_info_df2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Contact_info_df3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
