@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: "Gilroy";
  src: url(./assets/fonts/Gilroy-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

.container{
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.slider-container{
  max-width: 1440px;
  width: 100%;
}
.title{
  text-align: center;
  font-size: 36px;
  color: #212121;
  font-weight: 600;
}
