.basket__Container {
  width: 100%;
  display: flex;
}

.basket__Box > h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.basket__Container .meb__Box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 850px; */
  height: auto !important;
  background: #ffffff;
  padding: 16px;
  margin-bottom: 16px;
}
.basket__Container > .bask1 {
  width: 100%;
  background: #ffffff;
  padding: 34px;
  border: 1px solid #00b9c0;
  border-radius: 3px;
}
.meb__Title > p > span {
  text-decoration: line-through;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  color: #7e7e7e;
}

.basket__Container .meb__Box .meb__Img {
  display: flex;
  align-items: center;
}
.basket__Container .meb__Box .meb__Img > .meb__Title > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

.basket__Container .meb__Box .meb__Img img {
  width: 112px;
  margin-right: 16px;
}

.basket__Container .meb__Title h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #191919;
  margin-bottom: 8px;
}

.basket__Container .meb__Title p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 14px;
  color: #00b6c9;
}

.basket__Container .meb__Box .meb__Count {
  display: flex;
  align-items: center;
  gap: 40px;
}
.basket__Container .meb__Box .meb__Count .clos1 {
  width: 22px;
  height: 22px;
}

.basket__Container .meb__Box .meb__Count .meb__Sum {
  display: flex;
  padding: 8px;
  gap: 10px;
  border-radius: 6px;
}

.basket__Container .meb__Box .meb__Count .meb__Sum button {
  font-weight: 600;
  font-size: 16px;
  color: #00b9c0;
  border: none;
  background: inherit;
}
.basket__Container .meb__Box .meb__Count .meb__Sum .but1 {
  width: 36px;
  height: 26px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.prod1,
.tot1,
.btns {
  display: flex;
  justify-content: space-between;
}
.bask2 p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}
.bask2 {
  padding: 34px;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  background: #ffffff;
  border-radius: 3px;
}
.bask2 > h1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #212121;
}
.total > h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #212121;
}
.total > h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #212121;
}
.end1 > p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #7e7e7e;
}
.end1 > p span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #00b9c0;
}
.btns > .butt1,
.butt2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.btns > .butt2 {
  width: 226px;
  height: 39px;
  left: 292px;
  top: 374px;
  background: #00b9c0;
  border-radius: 3px;
  color: white;
}
.btns > .butt1 {
  width: 226px;
  height: 39px;
  left: 34px;
  top: 374px;

  border: 1px solid #d8d8d8;
  border-radius: 3px;
}
.bask2 > h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;

  color: #212121;
}
.bask2 > select {
  background-color: transparent;
}
.bask2 > select > option {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
